In [ ]:
Q1. What is a database? Differentiate between SQL and NoSQL databases.

In [ ]:
Database :
          A database is an organized collection of structured information or data that is typically stored electronically in a computer system.
          It is usually controlled by a database management system (DBMS).
SQL :
    SQL, which stands for “Structured Query Language,” is the programming language that’s been widely used in managing data 
    in relational database management systems (RDBMS).
    MySQL , MsSQL ,DB2
NoSQL :
      A NoSQL database has a dynamic schema for unstructured data. Data is stored in many ways which means it can be document
      -oriented, column-oriented, graph-based, or organized as a key-value store. This flexibility means that documents can be
      created without having a defined structure first. 
      MongoDB , Cassandra , Hbase

In [ ]:
--------------------------------------------------------------------------------------------------------------------------------

In [ ]:
Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

In [ ]:
DDL :
    DDL stands for Data Definition Language. It is used to define the structure of the database.
    CREATE, DROP, ALTER, and TRUNCATE are all DDL commands used in SQL.
    
    CREATE is used to create a new table in SQL by specifying the table name, column names, and their data types13.
    DROP is used to remove an existing table along with its structure from the database124.
    ALTER is used to modify the structure of an existing table, such as adding or deleting columns.
    TRUNCATE is used to remove all data from a table without deleting the table structure

In [ ]:
import mysql.connector
# import mysql.connector
#create user 'user'@'%' identified by 'password'
mydb = mysql.connector.connect(
  host="localhost",
  user="abc",
  password="password"
)

mycursor = mydb.cursor()
mycursor.execute("CREATE DATABASE if not exists test2")
mycursor.execute("CREATE TABLE if not exists test2.test_table(c1 INT , c2 VARCHAR(30) ,c3 FLOAT)")
mycursor.execute(" insert into test2.test_table values(123,'RAM',12.34)")
mydb.commit()
#mycursor.execute("select*from test2.test_table")
mycursor.execute("select c1 , c3 from test2.test_table")
for i in mycursor.fetchall() :
    print(i)
mydb.close()

In [ ]:
--------------------------------------------------------------------------------------------------------------------------------

In [ ]:
Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

In [ ]:
DML stands for Data Manipulation Language. It is used to manipulate data in a database.
INSERT:
      This command is used to add new rows to an existing table.

In [ ]:
INSERT INTO employee (emp_id, emp_name, emp_salary) 
VALUES (1, 'John', 50000);

In [ ]:
UPDATE: 
      This command is used to modify existing rows in a table.

In [ ]:
UPDATE employee SET emp_salary = 55000 WHERE emp_id = 1;

In [ ]:
DELETE:
      This command is used to delete rows from a table

In [ ]:
DELETE FROM employee WHERE emp_id = 1;

In [ ]:
--------------------------------------------------------------------------------------------------------------------------------

In [ ]:
Q4. What is DQL? Explain SELECT with an example.

In [ ]:
Data Query Language (DQL) is used to fetch data from a database. The principal DQL command in SQL is the SELECT command,
which retrieves data from one or more tables. 
The SELECT command helps you to select the attribute based on the condition described by the WHERE clause.
For example:
        SELECT FirstName FROM Student WHERE RollNo > 15;

In [ ]:
-------------------------------------------------------------------------------------------------------------------------------

In [ ]:
Q5. Explain Primary Key and Foreign Key.

In [ ]:
Primary Key:
           A primary key is a column or a set of columns in a database table that uniquely identifies each record or row 
           in the table. It ensures that each row has a unique identifier and provides a way to identify and access specific 
           records in the table.
        
Foreign Key:
           A foreign key is a column or a set of columns in a database table that establishes a link or relationship to a
           primary key in another table. It represents a reference to the primary key of another table, creating a logical
           association between the two tables. The purpose of foreign keys is to maintain referential integrity, ensuring 
           that relationships between tables are valid.

In [ ]:
-------------------------------------------------------------------------------------------------------------------------------

In [ ]:
Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

In [ ]:
import mysql.connector
# import mysql.connector
#create user 'user'@'%' identified by 'password'
mydb = mysql.connector.connect(
  host="localhost",
  user="abc",
  password="password"
)

mycursor = mydb.cursor()
mycursor.execute("CREATE DATABASE if not exists test2")
mycursor.execute("CREATE TABLE if not exists test2.test_table(c1 INT , c2 VARCHAR(30) ,c3 FLOAT)")
mycursor.execute(" insert into test2.test_table values(123,'RAM',12.34)")
mydb.commit()
#mycursor.execute("select*from test2.test_table")
mycursor.execute("select c1 , c3 from test2.test_table")
for i in mycursor.fetchall() :
    print(i)
mydb.close()

In [ ]:
cursor() method:
                The cursor() method is used to create a cursor object. A cursor is an interface that allows you to traverse
                and manipulate the result set returned by a database query. It provides methods and attributes to execute SQL
                statements, fetch data, and manage transactions.
                
execute() method:
               The execute() method is used to execute an SQL statement or query using the cursor object.
               It allows you to send SQL commands to the database and retrieve the results, if applicable.
               The execute() method typically takes the SQL query as a parameter.

In [ ]:
-------------------------------------------------------------------------------------------------------------------------------

In [ ]:
Q7. Give the order of execution of SQL clauses in an SQL query.

In [ ]:
1. From and Joins : since these two forms the basis of the query
2. Where : Filters out the rows
3. Group By : Grouping values based on the column specified in the Group By clause
4. Having : Filters out the grouped rows
5. Select
6. Distinct : Rows with duplicate values in the column marked as Distinct are discarded
7. Order By : Rows are sorted based on Order By clause
8. Limit, Offset : Finally the limit or offset is applied